<div>
    <h2>Tic Tac Toe</h2>

    <!-- Initial Screen -->
    <div calss="main" *ngIf="showStart"> 
        <a href="#" class="button" (click)="initGame()">
            Start
        </a>
    </div>

    <!-- Board -->
    <div *ngIf="showBoard">
        <ul>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom"></li>
            <li class="kz-border-right"></li>
            <li class="kz-border-right"></li>
        </ul>
    </div>

    <!-- End Screen -->
    <div *ngIf="showEnd">
        <span>
            <p>You win!</p>
            <p>You lost!</p>
            <p>The game ends draw...</p>
            <br />
            <a href="#" class="button">
                Play Again!
            </a>
        </span>
    </div>
</div>