<div>
    <h2>Tic Tac Toe</h2>

    <!-- Initial Screen -->
    <div calss="main">
        <a href="#" class="button">
            Start
        </a>
    </div>

    <!-- Board -->
    <div>
        <ul>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom"></li>
            <li class="kz-border-right"></li>
            <li class="kz-border-right"></li>
        </ul>
    </div>

    <!-- End Screen -->
    <div>
        <span>
            <p>You win!</p>
            <p>You lost!</p>
            <p>The game ends draw...</p>
            <br />
            <a href="#" class="button">
                Play Again!
            </a>
        </span>
    </div>
</div>