<div>
    <h2>Tic Tac Toe</h2>

    <!-- Initial Screen -->
    <div calss="main" *ngIf="showStart">
        <a href="#" class="button" (click)="initGame()">
            Start
        </a>
    </div>

    <!-- Board -->
    <div *ngIf="showBoard">
        <ul>
            <li class="kz-border-bottom kz-border-right" [class.kz-img-x]="showX(0,0)" [class.kz-img-o]="showO(0,0)"
                [class.kz-cor-vitoria]="showVictory(0,0)" (click)="play(0,0)"></li>
            <li class="kz-border-bottom kz-border-right" [ngClass]="{
                'kz-img-x': showX(0,1),
                'kz-img-o': showO(0,1),
                'kz-cor-vitoria': showVictory(0,1)
            
            }" (click)="play(0,1)"></li>
            <li class="kz-border-bottom" [class.kz-img-x]="showX(0,2)" [class.kz-img-o]="showO(0,2)"
                [class.kz-cor-vitoria]="showVictory(0,2)" (click)="play(0,2)"></li>
            <li class="kz-border-bottom kz-border-right" [class.kz-img-x]="showX(1,0)" [class.kz-img-o]="showO(1,0)"
                [class.kz-cor-vitoria]="showVictory(1,0)" (click)="play(1,0)"></li>
            <li class="kz-border-bottom kz-border-right" [class.kz-img-x]="showX(1,1)" [class.kz-img-o]="showO(1,1)"
                [class.kz-cor-vitoria]="showVictory(1,1)" (click)="play(1,1)"></li>
            <li class="kz-border-bottom" [class.kz-img-x]="showX(1,2)" [class.kz-img-o]="showO(1,2)"
                [class.kz-cor-vitoria]="showVictory(1,2)" (click)="play(1,2)"></li>
            <li class="kz-border-right" [class.kz-img-x]="showX(2,0)" [class.kz-img-o]="showO(2,0)"
                [class.kz-cor-vitoria]="showVictory(2,0)" (click)="play(2,0)"></li>
            <li class="kz-border-right" [class.kz-img-x]="showX(2,1)" [class.kz-img-o]="showO(2,1)"
                [class.kz-cor-vitoria]="showVictory(2,1)" (click)="play(2,1)"></li>
            <li [class.kz-img-x]="showX(2,2)" [class.kz-img-o]="showO(2,2)"
                [class.kz-cor-vitoria]="showVictory(2,2)" (click)="play(2,2)"></li>
        </ul>
    </div>

    <!-- End Screen -->
    <div *ngIf="showEnd">
        <span>
            <p *ngIf="player == 2">You win!</p>
            <p *ngIf="player == 1">You lost!</p>
            <p *ngIf="player == 0">The game ends draw...</p>
            <br />
            <a href="#" class="button" (click)="newGame()">
                Play Again!
            </a>
        </span>
    </div>
</div>